
*{   
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: left;
	font-family:'Lato', 'Noto Serif';
	font-weight:400;
    font-size: 1.1rem;
}

article{
    background-color: rgb(247, 247, 247);
    padding: 5vw;
    padding-top:2vw;
    color: rgb(0, 59, 74);
}

h2{
    font-size: 2em;
    font-weight: 700;
}

figure h3{
    color: rgb(0, 59, 74);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.7vw;
}

/*****************************
Footer
*****************************/

footer {
    background-color: rgb(0, 59, 74);
    color: white;
    text-align: left;
    display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footerLeft{
    text-align: left;
    margin-right: 10vw;
    margin-left: 5vw;
}

.footerRight{
    text-align: right;
    margin-right: 5vw;
}

.footerUl{
    text-align: right;
}

.footerUl li{
    display: inline;
	padding-left: 0.5rem;
}

.footerLogo{
    margin: auto;
    height: auto;
}

footer a{
    color: rgb(255, 255, 255);
    border-bottom: 0px;
}

footer a:hover{
    color:rgb(229, 225, 254)
}

footer a img:hover{
    opacity: 0.7;
}

@media (max-width: 1280px) and (min-width: 768px){

    footer{
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .footerLeft{
        text-align: center;
        margin:auto;
        padding:0;
    }

    .footerRight{
        text-align: center;
        margin:auto;
        padding:0;
    }

    .footerUl{
        text-align: center;
        padding: 0;
    }
}

@media (max-width: 768px){
    footer{
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .footerLeft{
        text-align: center;
        margin:auto;
        padding:0;
    }

    .footerRight{
        text-align: center;
        margin:auto;
        padding:0;
    }

    .footerUl{
        text-align: center;
        padding: 0;
    }
}

/**********
Peu de fotos
**********/
.peuFotos{
    color: rgb(158, 157, 171);
    font-size: 0.8em;
}

/******************************
Links configuration
******************************/

a{
    text-decoration: none;
    border-bottom: 1px dotted rgb(191, 12, 240);
    color: rgb(191, 12, 240);
    font-size: inherit;
}

a:hover{
    color: rgb(0, 59, 74);
    border-bottom: 1px dotted rgb(0, 59, 74);
}

a h3{
    color: rgb(0, 59, 74);
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.7vw;
}

a h3:hover{
    color: rgb(191, 12, 240);
}

/******************
Nav configuration
******************/

.navDist{
    display: grid;  
    grid-template-columns: 1fr 1fr; 
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.logoImg{
    border-bottom: 0px;
    margin-right: 10vw;
    margin-left: 5vw;
    border-bottom: 0px;
}

.logoImg:hover{
    border-bottom: 0px;
}

nav{
    margin-right: 5vw;
}

nav ul li{
    display: inline-block;
}

nav a{
    border-bottom: 0px;
    color: rgb(0, 59, 74);
}

nav a:hover{
    color: rgb(191, 12, 240);
    border-bottom: 0px;
}

.navLiFirst{
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    margin-right: 1em;
    padding-right: 1em;
}

/****************
    Index
*****************/

.indexActicle{
    background-color: rgb(229, 225, 254);
    padding-top: 0;
    margin-top: 0;
}

.indexH1{
    background: url("../img/hero-image-home.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    text-align: left;
    margin-bottom: 0; 
    font-weight: 900;
    color: rgb(0, 59, 74);
    font-size: 4em;
    padding: 4em;
}

.indexBoto{
	border:none;
	background-color:rgb(0, 59, 74);
	color:rgb(255,255,255);
	padding:0.5vw;
    margin: auto;
}

.indexBoto:hover{
    color:rgb(191,12,240);
}

.indexBoto a{
    border-bottom: 0px;
    color: white;
}

.indexBoto a:hover{
    border-bottom: 0px;
    color:rgb(191,12,240);
}

.introGridIndex div{
    margin-top: 0.5rem;
}

.twoColumnIndex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5vw;
    margin-bottom: 6vw;
}

.twoColumnIndex img{
    width: 100%;
    height: 100%;
}

.introGridIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5vw;
}

.divIndex{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
}

.divIndex h2{
    font-size: 3em;
}

.boldText{
    font-weight: 700;
    font-size: inherit;
}

.buttonGrid .indexBoto{
    margin-left: 0;
}

.buttonGrid{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.legalIndex{
    font-size: 0.7rem;
}

.twoColumnIndex:nth-child(even){
	grid-template-columns:2fr 1fr;
}

.indexImag1{
    transform:rotate(-5deg);
}
.indexImag2{
    transform:rotate(5deg);
}

.indexText1 h3, .indexText2 h3{
    font-size: 1.5em;
    font-weight: 700;
}

.indexText1{
    grid-column: 1 / 2;
    margin-top: 15%;
}
.indexText2{
    grid-column: 2 / -1;
    margin-top: 15%;
}

.twoColumnIndex figure figcaption{
    text-align: right;
}

@media (max-width: 1200px) and (min-width: 768px){
    .introGridIndex{
        display: block;
    }
}

@media (max-width: 768px){
    .introGridIndex{
        display: block;
    }

    .twoColumnIndex, .twoColumnIndex:nth-child(even){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: row;
        grid-gap:0;
    }

    .twoColumnIndex div{
        margin-top:  0;
    }

    .indexText1, .indexText2{
        order: 2;
        grid-column: auto;
        margin-bottom: 7%;
    }

    .indexImag1, .indexImag2{
        transform:rotate(0);
        order: 1;
    }

    .divIndex{
        padding-left: 0vw;
        padding-right: 0vw;
        padding-top: 5vw;
    }
    
    .indexH1{
        font-size: 2em;
        padding: 4em;
    }

}

/****************
    Blog
*****************/

.blogTitle{
    color:rgb(0,59,74);
}

.blogTitle:hover{
    color:rgb(191, 12, 240);
}

.blogArticle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
}

.blog{
    border: solid 1px rgb(229, 225, 254);
	position: relative;
	background-color: rgb(255,255,255);
	width:100%;
    margin-top: 0; 
    margin-bottom: auto;
}

.blog:first-child{
    grid-column: span 2;
}

.textContainer{
    margin-left: 2%;
    margin-right: 2%;
}

.blogArticle figure{
    position: relative;
}

.blogArticle img{
    width:100%;
    height: 100%;
}

.blogArticle figcaption{
    position:absolute;
	border:none;
	bottom:4%;
	right:2%;
	background-color:rgba(247, 247, 247,0.7);
	padding-left:0.5vw;
	padding-right:0.5vw;
	padding-top:0.3vw;
	padding-bottom:0.3vw;
	font-weight:700;
    font-size: 0.7em;
}

.etiquetaBlog1{
    position:absolute;
	border:none;
    top: 2%;
    left: 2%;
	background-color:rgb(0, 59, 74);
	color:rgb(255,255,255);
	padding:0.5vw;
}

.etiquetaBlog1:hover{
    background-color:rgb(191, 12, 240);
    color: white;
}

@media (max-width: 1280px) and (min-width: 768px){
    .blogArticle{
        grid-template-columns: 1fr 1fr;
    }

    .blog:first-child{
        grid-column: 1;
    }
}

@media (max-width: 768px){
    .blogArticle{
        grid-template-columns: 1fr;
    }

    .blog:first-child{
        grid-column: 1;
    }
}

/*************
Entrada
**************/

.entradaGrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
}

.entradaPrincipal{
    background-color: white;
}

.entradaPrincipal{
    padding: 4%;
}

.entradaGrid figure{
    text-align: center;
    background-color: rgb(229, 225, 254);
}

.entradaGrid figure figcaption{
    text-align: center;
    background-color: rgb(229, 225, 254);
    margin-left: 2%;
    padding-bottom: 1%;
}

.entradaImg{
    height: 100%;
    width: 100%;
}

.entradaImgDreta{
    width: 100%;
    height: 100%;
}

.lateral{
    margin-top: 0;
    background-color: rgb(247, 247, 247);
}

.lateral div{
    background-color:  rgb(247, 247, 247);
}

.figEntradaEsquerra{
	position:relative;
}

.categoriaGeneral{
}

.categoriaEntrada{
    color:rgb(0, 59, 74);
	background-color:rgb(255, 255, 255);
	border:solid 1px rgb(0, 59, 74);
	text-decoration:none;
    padding: 0.5rem;
    margin-right: 0.5rem;
    line-height: 3rem;
}

.breadCrumb{
    margin-bottom: 2vw;
    color: rgb(0, 59, 74);
    border-bottom: 0px;
}

.breadCrumb:hover{
    margin-bottom: 2vw;
    color: rgb(191, 12, 240);
    border-bottom: 0px;
}

.entrades{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
    margin-bottom: 1vw;
}

.entrades div{
    background-color: white;
}

.textLateral{
    padding-left: 1vw;
}

.textLateral h3{
    margin-bottom:0.5em;
}

.entradaText{
    font-size: 1em;
}

ol li,.entradaLi{
    margin-bottom: 1em;
}

blockquote{
	border-left: 0.25rem solid rgb(191, 12, 240);
    padding-left: 2em;
    font-size: 2em;
}

.blockquoteP{
    margin-top: 1em;
    font-size: 0.5em;
    font-style: italic;
}

.entradaIntro{
    font-size: 1.2em;
}

.entradaPrincipal h2{
    font-size: 1.7em;
}

@media (max-width: 1280px) and (min-width: 768px){
    .entradaGrid{
        grid-template-columns: 1fr;
    }

    .entrades{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .entrades div{
        margin-top: 0;
    }
    
}

@media (max-width: 768px){
    .entradaGrid{
        grid-template-columns: 1fr;
    }

    .entrades{
        grid-template-columns: 1fr;
    }
}
/****************************
Videos
*****************************/
iframe.video-fluid {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: 0;
}

/* Video page css*/
.containerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: rgb(247, 247, 247);
    padding-bottom: 4vw;
}

.containerGrid figure{
    background-color: white;
}

.containerGrid .blog:first-child{
    grid-column: span 1;
}

@media (max-width: 1280px) and (min-width: 768px){
    .containerGrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px){
    .containerGrid{
        grid-template-columns: 1fr;
    }
}